* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --fz-1: 0.25rem;
  --fz-2: 0.5rem;
  --fz-3: 0.75rem;
  --fz-4: 1rem;
  --fz-5: 1.25rem;
  --fz-6: 1.5rem;
  --fz-7: 1.75rem;
  --fz-8: 2rem;
  --fz-9: 2.25rem;
  --fz-10: 2.5rem;
  --fz-11: 2.75rem;
  --fz-12: 3rem;
  --fz-13: 3.25rem;
  --fz-14: 2.5rem;
  --fz-15: 3.75rem;
  --fz-16: 4rem;

  --acc-clr-1: #f97316;
  --acc-clr-2: #f97316;
  --acc-clr-3: #ea580c;
  --acc-clr-4: #c2410c;
  --acc-clr-5: #431407;

  --fc-1: #020617;
  --fc-2: #431407;

  --bg-clr: #e5e5e5;
  /* --bg-clr: #0a0a0a; */
}

body {
  /* font-size: 20p; */
  /* font-size: var(); */
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  /* font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, */
  /* sans-serif; */
  /* font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif; */
  /* font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", */
  /* Arial, sans-serif; */

  background: var(--bg-clr);
}
